
/* prevent problems with different browsers*/
*{box-sizing: border-box;}


body {
font-family: 'Merriweather', serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

/*header*/
header {
    background-color: #FDFB9F;
       padding: 1rem 2vw;
        display: flex;
     align-items: flex-end;
}

header div {
    padding-left: 2vw;
}


header h1{
    margin: 0;
    color: #750C0D;
}
header p{
    margin: 0;
    color: #750C0D;
    letter-spacing: 0.5px;
}

/* small screens */
@media only screen and (max-width: 600px) {
    nav ul {
        margin: 0;
        padding: 0 2%;
        list-style-type: none;
    }
    
    nav a {
        display: block;
        padding: .8rem;
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        border-bottom: solid 1px #aaa;
        color: #750C0D; 
    }
    nav .active a{
        background-color: #F1D398;
        background-image: linear-gradient(to bottom, #055902, #033c01);
        color: white;
    }
    
} /*end of the media query*/

/* BIG screens*/
@media only screen and (min-width: 601px) {
    /* nav stuff goes here*/
nav {
    background-color: #055902;
}
nav ul{
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav a{
    font-size: 1.1rem;
    text-decoration: none;
    color: #F1D398;
    font-weight: 700;
    display: block;
    padding: 0.83rem 2rem;
}
nav li.active a {
    background-color:#F1D398;
        color:#055902;
}
nav a:hover {
    color: white;
}
    
} /*end of the media query*/





/* stuff for the main*/
main {
    padding: 1rem 2vw;
}
main h1{
    color: #750C0D;
}

main h2{
    color: #055902;
    margin-bottom: .2rem;
}

main p {
    color: #2f3133;
    margin: 0 0 .3rem 0;
}

main ol {
    padding: .5rem 3vw;
    background-color: #efefef;
}

main dl dt {
    color: #750C0D;
    font-weight: 700;
}
main dl dd {
    color: #023873;
    font-size: .9rem;
}

main ul{
    list-style-type:circle;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main address {
    font-style: normal;
    background-color: #FDFB9F;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #055902;
    border-radius: 1rem;
}

main a {
    color: #024873;
}
main a:hover {
    color: rgb(239,0,24);
}

.creepylandscape {
    width: 100%;
    margin: 0; 
}
.creepylandscape img {
    width: 100%;
    height: auto;
}

.gallery section {
    flex-basis: 50%;
    margin: 1rem 0;
    
}
.gallery span {
    display: block;
    text-align: center; 
    font-weight: 700;
    color: #895772;
}
.gallery img {
    width: 98%;
    height: auto;
}
.gallery img:hover{
     box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}



/* Footer Stuff Here*/
footer{
    background-color: #eaeaea;
    text-align: center;
    color: #024873;
    padding: 1rem 0;
    font-size: .8rem;
}
footer a {
    color: #024873;
}

figure.wrapped {
    width:30%;
    margin: 0 0 0 2%;
    float: right;
}
figure.wrapped img{
    width: 100%;
    height: auto;
}
figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;
}

div.gallery{
    display: flex;
    flex-wrap: wrap;
}

div.gallery figure{
    margin: .5rem 2% 0 0;
}
div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #b64e11;
}

.myForm fieldset {
    border: 1px solid #055902;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.myForm legend {
    color: #055902;
    font-size: .8rem;
}
.myForm label {
    margin: .5rem;
}

.myForm label, .myForm select, .myForm [type=text], .myForm [type=tel], .myForm textarea {
    display: block;
}

.myForm [type=text], .myForm [type=tel], .myForm select, .myForm text area
{
    border: solid 1px #888;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}
.myForm textarea {
    height: 6rem;
}

.myForm :required {
    background-color: rgba(156,51,53,0.1);
}

.myForm [type=submit] {
    background-color: #750C0D;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 1vw;
}

header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}








